@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    @apply bg-neutral-900 text-white h-full;
}

body {
    @apply h-screen;
}

#__next {
    @apply h-full flex flex-col;
}

/* \/\/\/\/\/\/\/\/\
   Distance slider
/\/\/\/\/\/\/\/\/\/\ */ 

.distance-slider {
    @apply flex mt-20 items-center w-full;
}

.distance-slider-center {
    @apply items-center justify-center relative w-full;
    animation: distance-slider-center-animation 1s ease-in-out;
}

.distance-slider-label {
    @apply w-3 h-3 bg-white rounded-full;
}

.distance-slider-bar {
    @apply w-full h-1 bg-white
}

.distance-slider-value {
    @apply text-center inline-block absolute w-full bottom-3;
    animation: distance-slider-value-animation 1.5s ease-out;
}

@keyframes distance-slider-center-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes distance-slider-value-animation {
    0%, 66% {
        transform: translateX(-8%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


/* \/\/\/\/\/\/\/\/\
        Base
/\/\/\/\/\/\/\/\/\/\ */

button {
    @apply hover:brightness-90;
}



/* \/\/\/\/\/\/\/\/\
     Animations
/\/\/\/\/\/\/\/\/\/\ */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* \/\/\/\/\/\/\/\/\
       Classes
/\/\/\/\/\/\/\/\/\/\ */ 

.modal-outer {
    @apply flex flex-col items-center justify-center bg-[#000a]
    fixed top-0 left-0 h-screen w-screen z-50;
}

.modal-outer > div {
    @apply absolute p-8 w-[90%] lg:w-[50vw] md:p-16 bg-neutral-900 rounded-2xl;
    animation: fade-in .5s ease-in-out;
}